## Importing the Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Reading the CSV File

In [3]:
dataset = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/CS 430 Machine Learning/AdaboostPresentation_MEH/drug200.csv")

## Exploring the Dataset

In [4]:
dataset.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [6]:
dataset['BP'].value_counts()

HIGH      77
LOW       64
NORMAL    59
Name: BP, dtype: int64

In [7]:
dataset['Cholesterol'].value_counts()

HIGH      103
NORMAL     97
Name: Cholesterol, dtype: int64

In [8]:
dataset['Drug'].value_counts()

DrugY    91
drugX    54
drugA    23
drugC    16
drugB    16
Name: Drug, dtype: int64

## Splitting the Dataset

In [9]:
x = dataset.drop(['Drug'], axis = 1)
y = dataset['Drug']

## Encoding Categorical Data into Independent Variables (x)

In [10]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()
x['BP'] = encoder.fit_transform(x[['BP']])
x['Cholesterol'] = encoder.fit_transform(x[['Cholesterol']])

In [11]:
x = pd.get_dummies(x, ['Sex'])

In [12]:
x.head()

   Age   BP  Cholesterol  Na_to_K  Sex_F  Sex_M
0   23  0.0          0.0   25.355      1      0
1   47  1.0          0.0   13.093      0      1
2   47  1.0          0.0   10.114      0      1
3   28  2.0          0.0    7.798      1      0
4   61  1.0          0.0   18.043      1      0

## Training, Testing, and Splitting the Dataset

In [38]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.15, random_state = 42, stratify = y)

## Scaling the Dataset

In [39]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
x_train = sc_x.fit_transform(x_train)
x_test = sc_x.transform(x_test)

## Adaboost Classifier

In [48]:
from sklearn.ensemble import AdaBoostClassifier
ada_clf = AdaBoostClassifier(n_estimators = 100, random_state = 0, learning_rate = 0.05)
ada_clf.fit(x_train, y_train)
ada_clf.score(x_test, y_test)

0.8333333333333334

In [49]:
ada_clf.score(x_train, y_train)

0.8352941176470589